html, body {
    height: 100%;
}

body {
    background-image: url(/css/fdm.png);
    background-size: cover;
    margin: 0px;
    padding: 0;
    
}

.box-container {
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: white;
}

.box-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

#city {
    background-color:#6e4a22;
    font-family: 'Antic Didone', serif;

}

#temp {
    background-color: #8a663f;
    font-family: 'Antic Didone', serif;

}

#humidity {
    background-color: #bb8953;
    font-family: 'Antic Didone', serif;

}

#wind {
    background-color: #6f4e29;
    font-family: 'Antic Didone', serif;
}


input {
    border-radius: 10px;
    box-shadow: 4px 4px 6px #373636;
    border: 1px;
    height: 30px;
    width: 280px;
    padding-left: 20px;
    margin-top: 3em;
    margin-bottom: 10px;
    font-family: 'Antic Didone', serif; 
    font-weight: bold;
}

button {
    border-radius: 10px;
    box-shadow: 4px 4px 6px #373636;
    border: 1px;
    height: 30px;
    width: 300px;
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 12em;
    background-color: #8a663f;
    font-family: 'Antic Didone', serif;
    font-weight: bold;
    color: white;

    
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -20px;
}

.fa-solid {
    margin-bottom: 10px;
}

.fas {
    color: #8a663f;
    margin-top: 15px;
    margin-left: 15px;
}