:root{
    --hauteur-menu: 60px;
}

body {
    background-image: url(fda2.png);
    background-size: cover;
    margin: 0px;
    padding: 0;
    
}

html, body {
    height: 100%;
}

.date {
    display: flex;
}

.heure {
    display: flex;
}

.all {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 80%;
}

p {
    color: #bb8953;
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Antic Didone', serif;
    margin-bottom: -5px;

}

h1 {
    color: #8a663f;
    display: flex;
    text-align: center;
    font-family: 'Antic Didone', serif;
    font-size: 1.8em;
    margin-top: -30px;

}

nav {
    display: flex;
}

nav > a {
    display: block;
    width: 400px;
    background-color: transparent;
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
    color: #8a663f;
    font-weight: bold;
    margin: 1px;
    text-decoration: none;
    background-color: white;
    font-family: 'Antic Didone', serif;

}

#ch{
    display: none;
}

#lab{
    width: 30px;
    height: 30px;
    background: linear-gradient(#8a663f 0%, #8a663f 20%, transparent 21%, transparent 40%, #8a663f 41%, #8a663f 60%, transparent 61%, transparent 80%, #8a663f 81%, #8a663f 100%);
    margin: 10px;
    display: block;
}

@media all and (max-width:960px) {
    nav {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        transform: translate(-1000px,0);
        transition: all 0.5s ease;
    }
    nav > a {
        width: auto;
    }
    #ch:checked+nav {
        transform: translate(0,0);
        transition: all 0.5s ease;
    }
    #lab{
        display: block;
    }
    #returnCheck {
        display: flex;
        margin-left: 15px;
        margin-top: 40px;
    }

    .fas {
        color: #8a663f;
        margin-top: 15px;
        margin-right: 15px;
        
    }
}
